{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Scambaiting - Add New Contact</title>
{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="{% url 'scambaiting:index' %}">Scambaiting</a>
{% endblock %}

{% block nav %}
{% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'scambaiting:index' %}">Back</a>
            </li>
{% endif %}
{% endblock %}

{% block content %}
    <h4 class="text-center"> Add New Contact </h4>
    <div class="formNote row">        
        <form action="{% url 'scambaiting:addContact' %}" method="post">
            {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-8">
                        {{ form.phone_number|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.scam_type|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.url|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.source|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form.tollfree|as_crispy_field }}
                    </div>
                </div>
                    {{ form.pushy|as_crispy_field }}
                <div>
                    <input class="btn btn-success" type="submit" value="Submit">
                </div>
        </form>
    </div>
    
    <style>
    body {
        font-size: 1.5rem;
        width: 100%;
        background: #002B3C !important;
    }
    nav#mainNav {
        background: #246B61 !important;
        border-bottom: 10px solid #FF8100;
    }
    .contactinfo .col-sm-3 {
        padding: 10px;
        background: white;
        text-align: center;
    }
    .contactScamNote {
        background: white;
        padding: 10px;
        margin-top: 5px;
        text-align: center;
        border-radius: 5px;
    }
    .notes {
        background: white;
        margin-top: 5px;
        border-radius: 5px;
        padding: 5px;
        width: 100%;
    }
    .note{
        border-bottom: solid 1px #ddd;
        padding-bottom: 5px;
        width: 100% !important;
    }
    .formNote.row {
        background: white;
        margin-top: 10px;
        width: 100%;
        padding: 15px;
        border-radius: 5px;
    }
    a.nav-link {
        color: white !important;
        font-weight: bolder;
    }

    a.nav-link:hover {
        color: #F60022 !important;
    }
    h4.text-center {
        color: cornsilk;
        margin-top: 6px;
    }
    </style>
{% endblock %}