{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Scambaiting - Add Note</title>
{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="{% url 'scambaiting:index' %}">Scambaiting</a>
{% endblock %}

{% block nav %}
{% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'scambaiting:index' %}">Back</a>
            </li>
{% endif %}
{% endblock %}

{% block content %}
    <h4 class="text-center">
    Displaying Contact:
        <a href="{{contact.url}}" target="_bank">
            <span class="glyphicon glyphicon-earphone"></span>
        </a>
        {{contact.phone_number}}
    </h4>
    <div class="contactinfo row">
        <div class="source col-sm-3">
        Source: {{contact.source}}
        </div>
        <div class="added col-sm-3">
        Added: {{contact.added_ts|date:"H:i m/d/Y"}}
        </div>
        <div class="added col-sm-3">
        Last Call: {{contact.updated_ts|date:"H:i m/d/Y"}}
        </div>
        <div class="added col-sm-3">
        Scam Type: {{contact.scam_type}}
        </div>
    </div>
    <div class="contactScamNote row">
        <div class="col-sm-3">
            Dated Added: <br>
            {{contact.added_ts|date:"H:i m/d/Y"}}
        </div>
        <div class="col-sm-9">
            {{contact.scam_specific_notes}}
        </div>
    </div>
    <h4 class="text-center"> Add New Note </h4>
    <div class="formNote row">        
        <form class="col-sm-12" action="{% url 'scambaiting:addNote' contactID=contact.pk %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="col-sm-2 col-sm-offset-5">
                <input class="btn btn-success" type="submit" value="Submit">
            </div>
        </form>
    </div>
    <h4 class="text-center"> Previous Notes </h4>
    <div class="notes row">
        {% if notes|length > 0 %}
            {% for note in notes %}
            <div class="note">
                <div class="col-sm-3">
                    Last Contact: <br>
                    {{note.added_ts|date:"H:i m/d/Y"}}
                </div>
                <div class="col-sm-9">
                    {{note.note}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="note text-center"> No notes on this contact </div>
        {% endif %}
    </div>
    <style>
    body {
        font-size: 1.5rem;
        width: 100%;
        background: #002B3C !important;
    }
    nav#mainNav {
        background: #246B61 !important;
        border-bottom: 10px solid #FF8100;
    }
    .contactinfo .col-sm-3 {
        padding: 10px;
        background: white;
        text-align: center;
    }
    .contactinfo {
        border-radius: 5px;
    }
    .contactScamNote {
        background: white;
        padding: 10px;
        margin-top: 5px;
        text-align: center;
        border-radius: 5px;
    }
    .notes {
        background: white;
        margin-top: 5px;
        border-radius: 5px;
        padding: 5px;
    }
    .note{
        border-bottom: solid 1px #ddd;
        padding-bottom: 5px;
        width: 100% !important;
    }
    .formNote.row {
        background: white;
        margin-top: 10px;
        padding: 15px;
        border-radius: 5px;
    }
    a.nav-link {
        color: white !important;
        font-weight: bolder;
    }

    a.nav-link:hover {
        color: #F60022 !important;
    }
    h4.text-center {
        color: cornsilk;
        margin-top: 6px;
    }
    </style>
{% endblock %}