{% extends 'base.html' %}

{% block title %}
    <title>Scambaiting</title>
{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="{% url 'scambaiting:index' %}">Scambaiting</a>
{% endblock %}

{% block nav %}
{% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'scambaiting:addContact' %}">Add Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'customer:accounts' %}">FakeBank</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'scambaiting:index' %}">Back</a>
            </li>
{% endif %}
{% endblock %}

{% block content %}
    <div class="contacts">
        {% for contact in contacts %}
        <div class="contact col-md-4">
            <div class="card">
                <div class="container1">
                    <h4>
                        <a href="{{contact.url}}" target="_bank">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </a>
                        <b class="center">{{contact.phone_number}}</b>
                    </h4>
                    <ul class="list-group"> 
                        <li class="list-group-item">Source: <span class="right">{{contact.source}}</span></li> 
                        <li class="list-group-item">Number Of Notes: <span class="badge">{{contact.note_count}}</span></li> 
                        <li class="list-group-item">Toll Free:
                        {% if contact.tollfree %}
                            <span class="right alert-success glyphicon glyphicon-check"></span>
                        {% else %}
                            <span class="right glyphicon glyphicon-unchecked"></span>
                        {% endif %}
                        </li> 
                        <li class="list-group-item">Scam Type:
                            <span class="right">{{contact.scam_type}}</span>
                        </li> 
                        <li class="list-group-item">Pushiness:
                            <span class="badge">{{contact.pushy}}</span>
                        </li> 
                    </ul>
                </div>
                <a href="{% url 'scambaiting:addNote' contactID=contact.pk %}" class="btn btn-success">Add Note</a>
            </div>
        </div>
        {% endfor %}
    </div>
<style>
h4{
    padding: 1.25rem;
}
span.right {
    float: right;
}
b.center {
    margin-left: 20%;
}
body {
    font-size: 1.5rem;
    width: 100%;
    background: #002B3C !important;
}
nav#mainNav {
    background: #246B61 !important;
    border-bottom: 10px solid #FF8100;
}
.contactinfo .col-sm-3 {
    padding: 10px;
    background: white;
    text-align: center;
}
.contactScamNote {
    background: white;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
}
.notes {
    background: white;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
.note{
    border-bottom: solid 1px #ddd;
    padding-bottom: 5px;
    width: 100% !important;
}
.formNote.row {
    background: white;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}
.formNote label {
    float: left;
}

.formNote input.formControl {
    float: left !important;
}

.formNote button {
    float: left !important;
    width:  100px;
    background: green;
}
a.nav-link {
    color: white !important;
    font-weight: bolder;
}

a.nav-link:hover {
    color: #F60022 !important;
}
h4.text-center {
    color: cornsilk;
    margin-top: 6px;
}
</style>
{% endblock %}