{% extends 'base.html' %}

{% block title %}
    <title>Accounts</title>
{% endblock %}

{% block content %}
<h4>Summary</h4>
<h6>Personal Accounts</h6>
<ul class="accounts">
{% for account in accounts %}
    {% if account.type == 'P' %}
    <li>
        <div><a href="{% url 'customer:account_activity' account_id=account.account_id %}">{{account.account_type}}</a> - ***********{{account.account_id}}</div>
        <div style="float:right">{{account.balance}}</div>
    </li>
    {% endif %}
{% endfor %}
</ul>
<h6>Loan Accounts</h6>
<ul class="accounts">
{% for account in accounts %}
    {% if account.type == 'L' %}
    <li>
        <div><a href="/accounts/{{account.account_id}}">{{account.account_type}}</a> - ***********{{account.account_id}}</div>
        <div style="float:right">{{account.balance}}</div>
    </li>
    {% endif %}
{% endfor %}
</ul>
<style>
ul.accounts {
    background: #ddd;
    padding: 1rem;
    list-style: none;
}

ul.accounts li div {
    float: left;
}

ul.accounts li {
    width: 50%;
    height: 30px;
}
</style>

{% endblock %}