{% extends 'base.html' %}

{% block title %}
    <title>Accounts</title>
{% endblock %}

{% block content %}
<h4>Account Details</h4>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Description</th>
            <th>Previous Balance</th>
            <th>Amount</th>
            <th>Currents Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{transaction.transaction_timestamp|date:'Y-m-d H:i'}}</td>
            <td>{{transaction.type}}</td>
            <td>{{transaction.notes}}</td>
            <td>{{transaction.previous_balance}}</td>
            <td>{{transaction.amount}}</td>
            {% if transaction.current_balance < 0 %}
            <td style="color:red">{{transaction.current_balance}}</td>
            {% else %}
            <td>{{transaction.current_balance}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<style>
table {
    width: 100%;
    padding: 0.25rem;
    background: #ddd;
}
</style>

{% endblock %}