{% extends 'base.html' %}

{% block title %}
    <title>Account Transfer</title>
{% endblock %}

{% block content %}

<form action="{% url 'customer:transfer' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

<style>
ul.errorlist.nonfield {
    list-style: none;
    background: #e43e3e94;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 1rem;
    border-radius: 10px;
}
</style>

{% endblock %}